<nav class="header">
  <div class="container header-container">

    <div class="header-logo-container">
      <%= link_to root_path, class: "header-logo" do %>
        Lexy
      <% end  %>
    </div>

    <hr class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <div class="dropdown">
        <a class="icon-badge-container dropdown-toggle" id="notifications-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" role="button" href="#">
          <i class="fa fa-bell-o"></i>
          <% if !@notifications.empty? %>
            <div class="icon-badge icon-badge-red"><%= @notifications.length %></div>
          <% end %>
        </a>
        <% if !@notifications.empty? %>
          <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu" aria-labelledby="notifications-menu">
            <% @notifications.each do |doc| %>
              <li>
                <%= link_to doc.name, edit_document_path(doc) %>
              </li>
            <% end %>
          </ul>
        <% end %>
      </div>
      <hr>
      <div class="header-item">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle" type="button" id="user-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= current_user.email %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu" aria-labelledby="user-menu">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "header-item" %>
    <% end %>
    <hr>
    <% if user_signed_in? %>
      <%= link_to t(".top_call_to_action", default: "Go to My Dashboard"), documents_path, class: "header-item header-button btn" %>
    <% else %>
      <%= link_to t(".top_call_to_action", default: "Try Lexy for free"), new_user_registration_path, class: "header-item header-button btn" %>
    <% end %>
  </div>
</nav>
