<nav class="header">
  <div class="container header-container">

    <div class="header-logo-container">
      <%= link_to root_path, class: "header-logo" do %>
        Lexy
      <% end  %>
    </div>

    <hr class="hidden-xs hidden-sm">
    <% if user_signed_in? %>
      <%= link_to "#", class: "header-item hidden-xs" do %>
        <div class="icon-badge-container">
          <i class="fa fa-bell-o"></i>
          <div class="icon-badge icon-badge-red"><%= @notif.length %></div>
        </div>
      <% end %>
      <hr>
      <div class="header-item">
        <div class="dropdown">


          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <%= current_user.email %>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right header-dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>
              <%= link_to edit_user_registration_path do %>
                <i class="fa fa-user"></i> <%= t ".profile", default: "Profile" %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Log out" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Log in"), new_user_session_path, class: "header-item" %>
    <% end %>
    <hr>
    <% if user_signed_in? %>
      <%= link_to t(".top_call_to_action", default: "Go to My Dashboard"), documents_path, class: "header-item header-button btn" %>
    <% else %>
      <%= link_to t(".top_call_to_action", default: "Try Lexy for free"), new_user_registration_path, class: "header-item header-button btn" %>
    <% end %>
  </div>
</nav>
