<div class="documents">
  <div class="container">
    <% if @documents.empty? %>
      <div class="text-center">
        <%= form_for @document, :html => {:class => 'form-upload'} do |f| %>
          <div class="btn btn-primary btn-upload">
              <span>Upload Your first document</span>
              <%= f.file_field :doc_file, class: "input-upload" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1>My Documents</h1>
      <div class="panel panel-primary">
        <table class="table table-bordered table-responsive table-hover">
          <thead>
            <tr>
              <th>Nr</th>
              <th>Document</th>
              <th>Date first upload</th>
              <th>Date last update</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @documents.each do |doc| %>
              <tr>
                <td><%= doc.id %></td>
                <td>
                  <%= link_to edit_document_path(doc) do %>
                    <%= doc.name || doc.doc_file_file_name %>
                  <% end %>
                </td>
                <td><%= doc.created_at.strftime("%d %B %Y") %></td>
                <td><%= doc.updated_at.strftime("%d %B %Y") %></td>
                  <% if doc.references.find { |ref| ref.status == "changed" } %>
                    <td><span class="label label-danger">Changes</span></td>
                  <% elsif doc.references.find { |ref| ref.status == "pending" } %>
                    <td><span class="label label-info">Pending</span></td>
                  <% else %>
                    <td><span class="label label-success">Up-to-date</span></td>
                  <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class="panel-footer">
          <%= form_for @document, :html => {:class => 'form-upload'} do |f| %>
            <div class="btn btn-primary btn-upload">
                <span>Upload a new document</span>
                <%= f.file_field :doc_file, class: "input-upload" %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
