<div class="container text-center">
  <h1>My Lexy dashboard</h1>
</div>

<div class="documents">
  <div class="container">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Documents</h3>
      </div>
       <div class="panel-body">
        <table class="table table-bordered table-responsive table-hover">
          <thead>
            <tr>
              <th>Nr</th>
              <th>Document</th>
              <th>Date first upload</th>
              <th>Date last update</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <% @documents.each do |doc| %>
              <tr>
                <td><%= doc.id %></td>
                <% if doc.name %>
                  <td><%= doc.name %></td>
                <% else %>
                  <td><%= doc.doc_file_file_name %></td>
                <% end %>
                <td><%= doc.created_at.strftime("%d %B %Y") %></td>
                <td><%= doc.updated_at.strftime("%d %B %Y") %></td>
<!--                 Only if doc.up-to-date == true
 -->                <td class="success">Up-to-date</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <%= form_for @document do |f| %>
        <%= f.file_field :doc_file %>
        <%= f.label "Name" %>
        <%= f.text_field :name %>
        <%= f.submit "Upload", class: "btn btn-primary" %>
      <% end %>
      </div>
    </div>
  </div>
</div>
