<h1>References#new</h1>
<%= form_tag(controller: "references", action: "create", method: "post") do %>
  <% @paragraphs.each do |p| %>
    <% content = p[:content].gsub(/(L\..[^a-z]*).+?(?=code)((code du travail|code de la santé publique))/i) { |num| "<span class='reference-law'>"+ num + "</span>" } %>
    <%= content.html_safe %>
    <% if !p[:references].empty? %>
      <div class="reference">
        <% p[:references].each do |ref| %>
          <%= fields_for 'references[]', ref do |ref_f| %>
            <%= ref_f.text_field :status %>
          <% end %>
          <%= ref.article.law.name %>
          <%= ref.article.number %>
          <%= ref.article.versions.last.content %>
          <%= ref.status %>
        <% end %>
      </div>
    <% end %>
  <% end %>
  <%= submit_tag %>
<% end %>
